<a href="https://colab.research.google.com/github/suyash-sm/Valorant/blob/master/valorant_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Connect to the database
conn = sqlite3.connect('valorant.sqlite')

# Load the match data into a Pandas dataframe
games = pd.read_sql_query("SELECT * FROM Games", conn)

# Print out the columns of the dataframe
print(games.columns)
 
players=pd.read_sql_query("SELECT * FROM Game_Scoreboard",conn)

print(players.columns)

In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [ ]:
# matches=matches.drop(['Date','Patch','EventID','EventName', 'EventStage'],axis=1)
games=games.drop(['MatchID','Team1_SideFirstHalf', 'Team2_SideFirstHalf', 'Team1_RoundsFirstHalf',
       'Team1_RoundsSecondtHalf', 'Team1_RoundsOT', 'Team2_RoundsFirstHalf',
       'Team2_RoundsSecondtHalf', 'Team2_RoundsOT', 'Team1_PistolWon',
       'Team1_Eco', 'Team1_EcoWon', 'Team1_SemiEco', 'Team1_SemiEcoWon',
       'Team1_SemiBuy', 'Team1_SemiBuyWon', 'Team1_FullBuy',
       'Team1_FullBuyWon', 'Team2_PistolWon', 'Team2_Eco', 'Team2_EcoWon',
       'Team2_SemiEco', 'Team2_SemiEcoWon', 'Team2_SemiBuy',
       'Team2_SemiBuyWon', 'Team2_FullBuy', 'Team2_FullBuyWon'],axis=1)
players=players.drop([ 'PlusMinus', 'KAST_Percent', 'ADR',
       'HS_Percent', 'FirstKills', 'FirstDeaths', 'FKFD_PlusMinus', 'Num_2Ks',
       'Num_3Ks', 'Num_4Ks', 'Num_5Ks', 'OnevOne', 'OnevTwo', 'OnevThree',
       'OnevFour', 'OnevFive', 'Econ', 'Plants', 'Defuses'],axis=1)

NameError: ignored

In [ ]:
dataset=pd.merge(games,players,on='GameID')
final=pd.merge(games, players, on='GameID')
final.head(10)
final.columns

Index(['GameID', 'Map', 'Team1ID', 'Team2ID', 'Team1', 'Team2', 'Winner',
       'Team1_TotalRounds', 'Team2_TotalRounds', 'PlayerID', 'PlayerName',
       'TeamAbbreviation', 'Agent', 'ACS', 'Kills', 'Deaths', 'Assists'],
      dtype='object')

In [ ]:
import sqlite3
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
final = pd.read_csv('final.csv')

In [ ]:
final.head(10)

,GameID,Map,PlayerName,Agent,PlayerTeam,EnemyTeam,ACS,Kills,Deaths,Assists,PlayerTeamRounds,EnemyTeamRounds,Winner
0,60894,Breeze,Reduxx,jett,Booster Seat Gaming,Pho Real,313.0,24.0,10.0,3.0,13,7,Booster Seat Gaming
1,60894,Breeze,ChurmZ,chamber,Booster Seat Gaming,Pho Real,227.0,16.0,10.0,7.0,13,7,Booster Seat Gaming
2,60894,Breeze,diaamond,sova,Booster Seat Gaming,Pho Real,226.0,17.0,9.0,8.0,13,7,Booster Seat Gaming
3,60894,Breeze,Boltzy,viper,Booster Seat Gaming,Pho Real,218.0,17.0,12.0,2.0,13,7,Booster Seat Gaming
4,60894,Breeze,Virtyy,skye,Booster Seat Gaming,Pho Real,80.0,5.0,13.0,3.0,13,7,Booster Seat Gaming
5,60894,Breeze,Cohburg,astra,Pho Real,Booster Seat Gaming,229.0,15.0,16.0,5.0,7,13,Booster Seat Gaming
6,60894,Breeze,evaD,sova,Pho Real,Booster Seat Gaming,203.0,12.0,14.0,6.0,7,13,Booster Seat Gaming
7,60894,Breeze,Bobovo,chamber,Pho Real,Booster Seat Gaming,173.0,12.0,16.0,2.0,7,13,Booster Seat Gaming
8,60894,Breeze,Dopai,skye,Pho Real,Booster Seat Gaming,125.0,9.0,15.0,1.0,7,13,Booster Seat Gaming
9,60894,Breeze,Zento,viper,Pho Real,Booster Seat Gaming,89.0,6.0,18.0,3.0,7,13,Booster Seat Gaming

In [ ]:
final['EnemyTeam']=0
final['PlayerTeam']=0
final['EnemyTeamRounds']=0
final['PlayerTeamRounds']=0
def assign_teams(row):
    if row['Team1'][:3] == row['TeamAbbreviation'][:3] :
        row['PlayerTeam'] = row['Team1']
        row['EnemyTeam'] = row['Team2']
        row['EnemyTeamRounds']=row['Team2_TotalRounds']
        row['PlayerTeamRounds']=row['Team1_TotalRounds']
    else:
        row['PlayerTeam'] = row['Team2']
        row['EnemyTeam'] = row['Team1']
        row['EnemyTeamRounds']=row['Team1_TotalRounds']
        row['PlayerTeamRounds']=row['Team2_TotalRounds']
    return row

final = final.apply(assign_teams, axis=1)

def assign_winner(row):
    if row['PlayerTeamRounds'] >row['EnemyTeamRounds'] :
      row['Winner']=row['PlayerTeam']
        
    else:
      row['Winner']=row['EnemyTeam']
    return row
final = final.apply(assign_winner, axis=1)

In [ ]:
final.drop(['Team1ID', 'Team2ID','Team1_TotalRounds','Team2_TotalRounds','TeamAbbreviation','Team1','Team2','PlayerID'], axis='columns', inplace=True)

KeyError: ignored

In [ ]:

col=['GameID', 'Map', 'PlayerName', 'Agent','PlayerTeam','EnemyTeam',   'ACS',
       'Kills', 'Deaths', 'Assists', 'PlayerTeamRounds',
       'EnemyTeamRounds', 'Winner']
final=final[col]


# final has missing data

In [ ]:
# final.to_csv('final.csv',index=False)
# # yaha pe save kiya h

In [ ]:
df=final

In [ ]:
df=df.dropna()
df.isnull().sum()
# df[df.isnull().any(axis=1)]

GameID              0
Map                 0
PlayerName          0
Agent               0
PlayerTeam          0
EnemyTeam           0
ACS                 0
Kills               0
Deaths              0
Assists             0
PlayerTeamRounds    0
EnemyTeamRounds     0
Winner              0
dtype: int64

In [ ]:
df.tail(5)

,GameID,Map,PlayerName,Agent,PlayerTeam,EnemyTeam,ACS,Kills,Deaths,Assists,PlayerTeamRounds,EnemyTeamRounds,Winner
157149,221,Haven,chiwawa,sage,Worst Players,NeverEndingStory,312.0,28.0,14.0,11.0,13,11,Worst Players
157150,221,Haven,arch,phoenix,Worst Players,NeverEndingStory,255.0,20.0,18.0,9.0,13,11,Worst Players
157151,221,Haven,TayS,cypher,Worst Players,NeverEndingStory,240.0,23.0,17.0,6.0,13,11,Worst Players
157152,221,Haven,Duno,sova,Worst Players,NeverEndingStory,163.0,12.0,17.0,10.0,13,11,Worst Players
157153,221,Haven,pipsoN,brimstone,Worst Players,NeverEndingStory,133.0,11.0,17.0,5.0,13,11,Worst Players

Letsss goooooooooo..ab data preprocessing





LABEL ENCODING

In [ ]:
from sklearn.preprocessing import LabelEncoder
map = LabelEncoder()
df['Map'] = map.fit_transform(df['Map'])

player= LabelEncoder()
df['PlayerName'] =player.fit_transform(df['PlayerName'])

agent=LabelEncoder()
df['Agent']=agent.fit_transform(df['Agent'])

<ipython-input-31-e6cf07f382f6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Map'] = map.fit_transform(df['Map'])
<ipython-input-31-e6cf07f382f6>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PlayerName'] =player.fit_transform(df['PlayerName'])
<ipython-input-31-e6cf07f382f6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Agent']=agent.fit_transform(df['Agent'])

In [ ]:
test = pd.DataFrame(columns=['C1', 'C2'])

In [ ]:
test['C1']= df[['PlayerTeam', 'EnemyTeam']].stack().reset_index(drop=True)

In [ ]:
new=LabelEncoder()
test['C2']=new.fit_transform(test['C1'])

In [ ]:
test=test.drop_duplicates()

In [ ]:
mapping = dict(zip(test['C1'], test['C2']))

# Replace the values in the 'Category' column with the corresponding values from df2
df['PlayerTeam'] = df['PlayerTeam'].map(mapping)
df['EnemyTeam'] = df['EnemyTeam'].map(mapping)
df['Winner'] = df['Winner'].map(mapping)

In [ ]:
df.head(10)

,GameID,Map,PlayerName,Agent,PlayerTeam,EnemyTeam,ACS,Kills,Deaths,Assists,PlayerTeamRounds,EnemyTeamRounds,Winner
0,60894,2,3705,5,259,1302,313.0,24.0,10.0,3.0,13,7,259
1,60894,2,834,3,259,1302,227.0,16.0,10.0,7.0,13,7,259
2,60894,2,5634,14,259,1302,226.0,17.0,9.0,8.0,13,7,259
3,60894,2,604,15,259,1302,218.0,17.0,12.0,2.0,13,7,259
4,60894,2,4701,13,259,1302,80.0,5.0,13.0,3.0,13,7,259
5,60894,2,871,0,1302,259,229.0,15.0,16.0,5.0,7,13,259
6,60894,2,5796,14,1302,259,203.0,12.0,14.0,6.0,7,13,259
7,60894,2,601,3,1302,259,173.0,12.0,16.0,2.0,7,13,259
8,60894,2,1164,13,1302,259,125.0,9.0,15.0,1.0,7,13,259
9,60894,2,5009,15,1302,259,89.0,6.0,18.0,3.0,7,13,259